<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:dataTable value="#{registroBean.arrayListCandidatos}" var="l"
    			styleClass="order-table"
    			headerClass="order-table-header"
    			rowClasses="order-table-odd-row,order-table-even-row"
    		>
    			<h:column>
    				<!-- column header -->
    				<f:facet name="header">CPF</f:facet>
    				<!-- row record -->
    				#{l.cpf}
    			</h:column>
 
                        <h:column>
    				<!-- column header -->
    				<f:facet name="header">Nome</f:facet>
    				<!-- row record -->
    				#{l.nome}
    			</h:column>
            
                        <h:column>
    				<!-- column header -->
    				<f:facet name="header">Cidade</f:facet>
    				<!-- row record -->
    				#{l.cidade}
    			</h:column>
            
    			<h:column>
    				<f:facet name="header">Estado</f:facet>
    				#{l.estado}
    			</h:column>
    		</h:dataTable>
    </ui:define>

</ui:composition>